.landing-page {
    // font-family: $font-family-secondary;
    background-position: right top;
    background-repeat: no-repeat;
    /*background-color: $white;*/
    // background-color: #ffffff;
    background-size: cover;
    background-image: url('../../assets/images/coverphoto.jpeg');
    /*background: url("/images/pages/jobseekerAuth/img1.png");*/
}

  
  